<app-navbar></app-navbar>
<div class="h-full w-full bg-secondary">
  <div class="grid h-full w-full grid-flow-row grid-cols-6 grid-rows-12">
    <div class="col-span-6"></div>
    <!-- Section: Intro -->
    <div
      class="col-span-6 flex flex-row items-center justify-center font-tangerine-bold text-5xl"
    >
      {{ "GIFT.TITLE" | translate }}
    </div>
    <!-- Section: Gift Description -->
    <div class="row-span-1"></div>
    <div
      class="col-span-4 row-span-1 flex flex-col items-center justify-center pl-4 text-center font-cormorant-medium text-lg/5 italic"
    >
      <p [innerHTML]="'GIFT.DESCRIPTION_1' | translate"></p>
    </div>
    <div class="row-span-1"></div>
    <div class="col-span-6 row-span-5 flex items-start justify-start p-4 m-4 rounded-4xl border border-gray-400/20">
      <div
        class="absolute z-10 h-24 w-32 scale-90 rounded-4xl bg-[url(/assets/JAP.png)] bg-cover bg-center bg-no-repeat"
      ></div>
      <div class="h-full w-full overflow-hidden zoom-container">
        <div
          class="relative h-full w-full bg-[url(/assets/Japan.svg)] bg-[length:80%] bg-center bg-no-repeat"
          [attr.alt]="'GIFT.IMAGE_ALT_2' | translate"
          (mousemove)="zoom($event)"
          (mouseleave)="resetZoom($event)"
          (wheel)="onZoom($event)"
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd($event)"
          #zoomDiv
        ></div>
      </div>
    </div>
    <div class="row-span-1"></div>
    <div
      class="col-span-4 row-span-1 flex flex-col items-center justify-center pl-4 text-center font-cormorant-medium text-lg/5 italic"
    >
      <p [innerHTML]="'GIFT.DESCRIPTION_2' | translate"></p>
    </div>
    <div class="row-span-1"></div>
    <!-- Section: Gift Information -->
    <div
      class="col-span-6 row-span-3 flex flex-col items-center justify-center space-y-2 border border-gray-700/80 m-[1.5vh] text-center font-cormorant-medium text-base/tight"
    >
      <div class="flex flex-col items-center justify-center">
        <p class="font-bold" [innerHTML]="'GIFT.IBAN' | translate"></p>
        <div class="flex items-center space-x-2 rounded-md border-gray-700/80 border p-1">
          <p
            class="h-full"
            [innerHTML]="'GIFT.IBAN_NUMBER' | translate"
            #ibanText
          ></p>
          <button
            class="h-6 w-6 bg-[url(/assets/Clipboard.svg)] bg-cover bg-center bg-no-repeat"
            (click)="copyToClipboard(ibanText.innerText)"
            [attr.aria-label]="'COPY_BUTTON.LABEL' | translate"
          ></button>
        </div>
      </div>
      <p [innerHTML]="'GIFT.ACCOUNT_HOLDER' | translate"></p>
      <p [innerHTML]="'GIFT.PURPOSE' | translate"></p>
    </div>
  </div>
</div>
