.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    button {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        background-color: #b0c794;
        color: #f8f9fa;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #8da668;
        }
    }
}