<nav
  class="fixed top-[1%] left-[2%] z-50 transform"
>
  <ul class="relative flex flex-col items-center ">
    <li>
      <button
        (click)="toggleMenu()"
        class="flex h-14 w-14 items-center justify-center rounded-full bg-primary  shadow-lg focus:outline-none"
      >
        <img src="/assets/Menu.svg" alt="Menu" class="h-10 w-10" />
      </button>
    </li>
    <li class="relative">
      <ul
        class="absolute left-1/2 flex -translate-x-1/2 transform flex-col items-center md: overflow-hidden transition-[max-height] duration-500 ease-in-out"
        [class.max-h-0]="!isMenuOpen"
        [class.max-h-100]="isMenuOpen"
      >
        <li
          class="-translate-y-4 transform opacity-0 transition-all duration-500 ease-out"
          [class.opacity-100]="isMenuOpen"
          [class.translate-y-0]="isMenuOpen"
        >
          <a
            (click)="changeRoute('/landing')"
            class="flex h-14 w-14 items-center justify-center rounded-full bg-primary shadow-lg"
          >
            <img src="/assets/MenuHome.svg" alt="Info" class="h-10 w-10" />
          </a>
        </li>
        <li
          class="-translate-y-4 transform opacity-0 transition-all delay-150 duration-500 ease-out"
          [class.opacity-100]="isMenuOpen"
          [class.translate-y-0]="isMenuOpen"
        >
          <a
            (click)="changeRoute('/info')"
            class="flex h-14 w-14 items-center justify-center rounded-full bg-primary shadow-lg"
          >
            <img src="/assets/MenuInfo.svg" alt="Info" class="h-10 w-10" />
          </a>
        </li>
        <li
          class="-translate-y-4 transform opacity-0 transition-all delay-300 duration-500 ease-out"
          [class.opacity-100]="isMenuOpen"
          [class.translate-y-0]="isMenuOpen"
        >
          <a
            (click)="changeRoute('/gift')"
            class="flex h-14 w-14 items-center justify-center rounded-full bg-primary shadow-lg"
          >
            <img src="/assets/MenuGift.svg" alt="Gift" class="h-10 w-10" />
          </a>
        </li>
        @if (currentLang() === "sl-SI") {
          <li
            class="-translate-y-4 transform opacity-0 transition-all delay-450 duration-500 ease-out"
            [class.opacity-100]="isMenuOpen"
            [class.translate-y-0]="isMenuOpen"
          >
            <a
              (click)="selectLanguage('it-IT')"
              class="flex h-14 w-14 items-center justify-center rounded-full bg-primary shadow-lg"
            >
              <img
                src="/assets/ITA.png"
                alt="Ita"
                class="h-full w-full scale-90 rounded-full object-center"
              />
            </a>
          </li>
        } @else {
          <li
            class="-translate-y-4 transform opacity-0 transition-all delay-300 duration-500 ease-out"
            [class.opacity-100]="isMenuOpen"
            [class.translate-y-0]="isMenuOpen"
          >
            <a
              (click)="selectLanguage('sl-SI')"
              class="flex h-14 w-14 items-center justify-center rounded-full bg-primary shadow-lg"
            >
              <img
                src="/assets/SLO.png"
                alt="Slo"
                class="h-full w-full scale-90 rounded-full object-cover object-[20%]"
              />
            </a>
          </li>
        }
      </ul>
    </li>
  </ul>
</nav>
