<!-- <header class="z-10 w-full bg-header shadow-sm h-15">
  <nav class="flex items-center justify-between">
    <div class="text-3xl font-semibold text-primary">Wedding Landing</div>
    <ul
      class="m-0 flex list-none gap-5 p-0 font-medium text-primary [&_li]:no-underline"
    >
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/info']">Info</a></li>
      <li><a [routerLink]="['/gift']">Gift</a></li>
      <li><a [routerLink]="['/test']">Test</a></li>
    </ul>
  </nav>
</header> -->
<!-- <app-navbar></app-navbar> -->
<div class="h-full w-full">
  <router-outlet></router-outlet>
</div>
