<div class="h-full w-full">
  <div
    class="absolute inset-0 z-10 flex h-full w-full overflow-x-hidden"
    *ngIf="showOverlay"
    (click)="startAnimation()"
  >
    <div
      class="h-full w-1/2 bg-[url(/assets/TestFacciata.svg)] bg-[length:200%_100%] bg-left bg-no-repeat"
      [ngClass]="{
        'origin-left rotate-y-180 slow-rotate perspective-midrange':
          animationState,
      }"
    ></div>
    <div
      class="h-full w-1/2 bg-[url(/assets/TestFacciata.svg)] bg-[length:200%_100%] bg-right bg-no-repeat"
      [ngClass]="{
        'origin-right -rotate-y-180 slow-rotate perspective-midrange':
          animationState,
      }"
    ></div>
  </div>
  <div class="h-full w-full">
    <div
      class="flex h-full w-full items-center justify-center"
    >
      <div
        class="text-center transition-opacity duration-3000"
        [ngClass]="{ 'opacity-0': !showContent, 'opacity-100': showContent }"
      >
        <h1>{{ "LANDING.TITLE" | translate }}</h1>
        <p>{{ "LANDING.SUBTITLE" | translate }}</p>
      </div>
    </div>
  </div>
</div>
