<div class="h-full w-full" [class.overflow-y-hidden]="showOverlay">
  <div
    class="absolute inset-0 flex h-full w-full overflow-x-hidden"
    *ngIf="showOverlay"
  >
    <div
      class="absolute top-[85%] left-[45%] z-10 flex h-24 w-40 justify-between gap-4 transition-opacity duration-800 md:h-48 md:w-80"
      [ngClass]="{
        'opacity-0': animationState,
        'opacity-100': !animationState,
      }"
    >
      <button
        class="h-1/2 w-1/2 cursor-pointer bg-[url(/assets/SLO.png)] bg-cover shadow-2xl shadow-gray-600 transition-shadow duration-300 ease-in-out hover:shadow-gray-900"
        (click)="chooseLanguage('sl-SI')"
      ></button>
      <button
        class="h-1/2 w-1/2 cursor-pointer bg-[url(/assets/ITA.png)] bg-cover shadow-2xl shadow-gray-600 transition-shadow duration-300 ease-in-out hover:shadow-gray-900"
        (click)="chooseLanguage('it-IT')"
      ></button>
    </div>
    <div
      class="h-full w-1/2 bg-[url(/assets/OverlayMobile.svg)] bg-[length:200%_100%] bg-left bg-no-repeat md:bg-[url(/assets/Overlay.svg)]"
      [ngClass]="{
        'slow-rotate origin-left rotate-y-180 perspective-midrange':
          animationState,
      }"
    ></div>
    <div
      class="h-full w-1/2 bg-[url(/assets/OverlayMobile.svg)] bg-[length:200%_100%] bg-right bg-no-repeat md:bg-[url(/assets/Overlay.svg)]"
      [ngClass]="{
        'slow-rotate origin-right -rotate-y-180 perspective-midrange':
          animationState,
      }"
    ></div>
  </div>
  <div
    class="h-[125%] w-full bg-background/55 transition-opacity delay-500 duration-3000 md:h-[150%] xl:h-[200%]"
    [ngClass]="{ 'opacity-0': !showContent, 'opacity-100': showContent }"
  >
    <div class="grid h-full w-full grid-flow-row grid-cols-6 grid-rows-4">
      <div
        class="col-span-4 flex h-full w-full items-center justify-center md:col-span-3"
      >
        <div class="relative h-[100%] w-[100%]">
          <div
            class="absolute inset-0 top-1/2 aspect-square translate-y-[-50%] scale-85 bg-[url(/assets/ArtaTerme.jpeg)] bg-cover bg-center md:scale-100 xl:scale-90 2xl:scale-80"
            style="
              mask-image:
                linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to left,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                );
              mask-composite: intersect;
            "
          ></div>
        </div>
      </div>
      <div
        class="col-span-2 -ml-2 flex h-full w-full flex-col items-center justify-center space-y-0.5 pr-2 text-center font-cormorant-medium text-sm/tight md:col-span-3"
      >
        <p class="font-tangerine-bold text-3xl">
          {{ "LANDING.WELCOME_1" | translate }}
        </p>
        <p>
          {{ "LANDING.WELCOME_2" | translate }}
        </p>
      </div>
      <div
        class="col-span-2 -mr-2 flex h-full w-full flex-col items-center justify-center space-y-1 pl-2 text-center font-cormorant-medium text-sm/tight md:col-span-3"
      >
        <p [innerHTML]="'LANDING.WELCOME_INFO' | translate"></p>
      </div>
      <div
        class="col-span-4 flex h-full w-full items-center justify-center md:col-span-3"
      >
        <div class="relative h-[100%] w-[100%]">
          <div
            class="absolute inset-0 top-1/2 aspect-square translate-y-[-50%] scale-85 bg-[url(/assets/MatrimonioPietro.jpeg)] bg-[length:135%] bg-[35%_45%] md:scale-100 xl:scale-90 2xl:scale-80"
            style="
              mask-image:
                linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to left,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                );
              mask-composite: intersect;
            "
          ></div>
        </div>
      </div>
      <div
        class="col-span-4 flex h-full w-full items-center justify-center md:col-span-3"
      >
        <div class="relative h-[100%] w-[100%]">
          <div
            class="absolute inset-0 top-1/2 aspect-square translate-y-[-50%] scale-85 bg-[url(/assets/Noi.jpeg)] bg-cover bg-[70%] md:scale-100 xl:scale-90 2xl:scale-80"
            style="
              mask-image:
                linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to left,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                ),
                linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%
                );
              mask-composite: intersect;
            "
          ></div>
        </div>
      </div>
      <div
        class="col-span-2 -ml-2 flex h-full w-full flex-col items-center justify-center space-y-1 pr-2 text-center font-cormorant-medium text-sm/tight md:col-span-3"
      >
        <p [innerHTML]="'LANDING.WELCOME_GIFT' | translate"></p>
      </div>
      <div
        class="col-span-2 -mr-2 flex h-full w-full flex-col items-center justify-center space-y-1 pl-2 text-center font-cormorant-medium text-base/tight md:col-span-3"
      >
        <p [innerHTML]="'LANDING.WELCOME_THANKS' | translate"></p>
      </div>
      <div
        class="col-span-4 flex h-full w-full flex-col items-center justify-center gap-4 md:col-span-3"
      >
        <div
          class="h-20 w-20 bg-[url(/assets/Calendario.svg)] bg-no-repeat text-primary"
        ></div>
        <div class="">
          <countdown [config]="config" class="custom-style" />
        </div>
      </div>
    </div>
  </div>
</div>
