<div class="h-full w-full">
  <div
    class="absolute inset-0 flex h-full w-full overflow-x-hidden"
    *ngIf="showOverlay"
  >
    <div
      class="h-full w-1/2 bg-[url(/assets/TestFacciata.svg)] bg-[length:200%_100%] bg-left bg-no-repeat"
      [ngClass]="{
        'slow-rotate origin-left rotate-y-180 perspective-midrange':
          animationState,
      }"
    >
      <div
        class="relative top-2/3 left-2/5 z-10 h-16 w-24 transition-opacity duration-800 md:h-32 md:w-48"
        [ngClass]="{
          'opacity-0': animationState,
          'opacity-100': !animationState,
        }"
      >
        <button
          class="h-full w-full cursor-pointer bg-[url(/assets/SLO.png)] bg-cover shadow-2xl shadow-gray-600/30 transition-shadow duration-300 ease-in-out hover:shadow-gray-600"
          (click)="chooseLanguage('sl-SI')"
        ></button>
      </div>
    </div>
    <div
      class="h-full w-1/2 bg-[url(/assets/TestFacciata.svg)] bg-[length:200%_100%] bg-right bg-no-repeat"
      [ngClass]="{
        'slow-rotate origin-right -rotate-y-180 perspective-midrange':
          animationState,
      }"
    >
      <div
        class="relative top-2/3 left-3/5 z-10 h-16 w-24 -translate-x-full transition-opacity duration-800 md:h-32 md:w-48"
        [ngClass]="{
          'opacity-0': animationState,
          'opacity-100': !animationState,
        }"
      >
        <button
          class="h-full w-full cursor-pointer bg-[url(/assets/ITA.png)] bg-cover shadow-2xl shadow-gray-600/30 transition-shadow duration-300 ease-in-out hover:shadow-gray-600"
          (click)="chooseLanguage('it-IT')"
        ></button>
      </div>
    </div>
  </div>
  <div
    class="h-full w-full transition-opacity delay-500 duration-3000 bg-background/55"
    [ngClass]="{ 'opacity-0': !showContent, 'opacity-100': showContent }"
  >
    <div class="grid h-full w-full grid-flow-row grid-cols-5 grid-rows-3">
      <div
        class="col-span-2 flex h-full w-full items-center justify-center border"
      >
        <div class="relative h-[100%] w-[100%] md:w-[90%]">
          <div
            class="absolute inset-0 bg-[url(/assets/CasaNuova.jpeg)] bg-cover bg-center"
            style="
              mask-image: radial-gradient(
                circle,
                rgba(0, 0, 0, 1) 60%,
                rgba(0, 0, 0, 0) 70%
              );
            "
          ></div>
        </div>
      </div>
      <div class="col-span-3 h-full w-full border"></div>
      <div class="col-span-3 h-full w-full border"></div>
      <div class="col-span-2 h-full w-full border"></div>
      <div class="col-span-1 h-full w-full border"></div>
      <div class="col-span-3 h-full w-full border"></div>
      <div class="col-span-1 h-full w-full border"></div>
    </div>
  </div>
</div>
